/* Navbar */
.navbar {
  position: absolute;
  width: 100%;
  min-width: 410px;
}

/* Profile Pic in header is hidden when page is large */
.is-mobile {
  display: none;
  width: 30%;
  border: solid 2px black;
  border-radius: 50%;
}

.navbar-brand,
.nav-link {
  color: white;
  font-size: 2rem;
}

.header {
  background: linear-gradient(0deg, #9900ff 0%, #833ab4 50%);
  color: #fff;
  text-align: center;
  padding-top: 4rem;
  min-width: 410px;
}
.header h1 {
  margin-top: 13px;
}

.header p {
  font-family: "Oswald", sans-serif;
  font-weight: 160;
  font-size: 1.6rem;
}

.header svg {
  padding-top: 3.8rem;
}

.svg-wave {
  transform: rotate(0deg);
  transition: 0.3s;
}

.svg-path {
  transform: translate(0, 0px);
  opacity: 1;
}

/* Display header pic */
@media screen and (max-width: 800px) {
  .is-mobile {
    display: inline;
  }
}
