body {
    background-color: #1E1E1E;
    /* color: #EF5814; */
    margin: 0;
    padding: 0;
}

.my-nav{
    height: 200px;
    position: relative;
}
.my-nav-links {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: #EF5814;
}

.section-card{
    background-color: #ffffff;
    color: black;
    border: 3.5px solid #EF5814;
    width: 520px;
    height: 123px;
    position: absolute;
    bottom: 434px;
    left: 500px;
}

.feed{
    background-color: #75F4FC;
    height: 1000px;
    color: #000000;
}

.footer{
    color: #ffffff;
}
.footer-top{
    display: flex;
    justify-content: space-between;
}
.social-media{
    display: flex;
    align-items: center;
}