body {
    background-color: #1E1E1E;
    margin: 0;
    padding: 0;
}

/* NAVBAR SECTION */
.my-nav {
    height: 200px;
    position: relative;
}

.my-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem auto 0 auto;
    width: 30rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #EF5814;

    &:hover {
        color: #ffffff;
    }
}

.section-card {
    background-color: #ffffff;
    color: black;
    border: 3.5px solid #EF5814;
    --width: 30rem;
    width: calc(var(--width));
    height: 7rem;
    position: absolute;
    top: 60%;
    left: calc(50% - (var(--width)/2));
    display: flex;
    text-transform: uppercase;
    align-items: center;
}

.rectangle {
    width: 5px;
    height: 60px;
    background: #DC4646;
}

.section-card .rectangle {
    margin-left: 15%;
    margin-right: 15px;
}

/* NAVBAR SECTION END */


/* FOOTER SECTION */
.footer {
    color: #ffffff;
    padding: 2.5rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    margin-right: 15rem;
}

.footer-top p {
    width: 14rem;
}

.social-media {
    display: flex;
    flex-direction: row;
    width: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER SECTION END */