/* Project Cards */

/* When cards are 3+ projects, display padding */
.card-wrapper {
  padding-left: 30px;
  justify-content: space-evenly;
}

.card {
  width: 22.4rem;
  margin: 0 13px 25px 13px;
  box-shadow: inset 2px 2px 5px rgb(209 167 224 / 25%),
    inset -3px -3px 5px rgb(209 167 224 / 50%);
}

.card-title {
  text-align: center;
}

.card-body {
  text-align: justify;
}

.tools-used {
  color: grey;
}

/* When cards are at most 2 projects */
.card-wrapper-double {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 650px) {
  .card-wrapper-double {
    margin-left: 5px;
    width: 400px;
  }
}
